body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.carousel-item img{
   
    background-color:rgba(0,0,0,0.6);
  }

.price-tag{
    color: rgb(19, 177, 240);
    font-weight:bolder;
}

#colored-container-modal{
    background-color: rgb(54, 188, 241);
   
}

