
.carousel-item {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}
.carousel-item .active{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
}

.price-tag{
    color: rgb(19, 177, 240);
    font-weight:bolder;
}


